<h1>Game: Rock, Paper, Scissors</h1>
<form action="/game">
  <div class="form-group">
    <label for="game">Please enter a choice </label>
    <input id="game" name="game" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
